src/main/mule/uhubm-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    
    <flow name="uhubm-sapi-main">
        <http:listener config-ref="uhubm-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.&quot;x-transaction-id&quot; default uuid()]" doc:name="Set Transaction Id" doc:id="41496fe1-4fab-4e6f-a9fc-d9958fa24723" variableName="transactionId" />
        <apikit:router config-ref="uhubm-sapi-config" />
		<error-handler ref="global-error-handler" />

    </flow>

    <flow name="get:\cases\(nationalID):uhubm-sapi-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:variables>
                <ee:set-variable variableName="nationalID">attributes.uriParams.'nationalID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    source: "Hospital1",
    caseID: "456464",
    caseType: "positive",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    },
    createDate: "2021-05-03",
    updateDate: "2021-05-03"
  }, 
  {
    source: "Hospital1",
    caseID: "528293",
    caseType: "negative",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    },
    createDate: "2020-12-14",
    updateDate: "2020-12-14"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>


 
</mule>
